extends layout

include _includes/sharedHTMLfunctions

block content
   app-home-list loading
         
              
block scripts
      script(src='/build/runtime-es5.edb2fcf2778e7bf1d426.js')
      script(src='/build/polyfills-es5.6696c533341b95a3d617.js')
      script(src='/build/main-es5.83a49aecda0a3d0caa37.js')
