extends layout

include _includes/sharedHTMLfunctions


block content
  .centered
      form
        table
          tr
            td Username
          tr
            td
              input(type='text')
          tr
            td Password
          tr
            td
              input(type='password')
