extends layout

include _includes/sharedHTMLfunctions

block content
  in
    form
     table
      tr
       td
          | Username
       td
           input(type='text')
      tr
        td
          | Password
        td
          input(type='password')