extends loginlayout

include _includes/sharedHTMLfunctions



block content 
  .logincontainer   
    .centered
      form
        div
          h1 Login
          br
          table
            tr
              td Username
            tr
              td
                input(type='text')
            tr
              td Password
            tr
              td
                input(type='password')

