extends layout

include _includes/sharedHTMLfunctions

block content
   div(style = "text-align:centered")
     .centered.mt-5(style='padding-left:5em; width:80%;')
      h1.Float-left(style='text-align:center;')=pageHeader.title
      form.ml-auto.mr-5(style='padding-left:5em;width:80%;text-align:center;')
        br
        br
        table(style='width:80%;text-align:center;')
         tr 
          td
           a.btn.float-left.btn-primary(href='/login') Add location
           input(style='width:8em;float:right ;')(type='text' placeholder='Post Code')
         tr
           td
             img.mt-3(src='../Images/map.PNG' )
        label.float-left(style=' margin-top:1em;') Placename
         
              
