extends loginlayout

include _includes/sharedHTMLfunctions

block content
   div(style = "text-align:centered")
     .centered
      form(action="", method="post")
        h1(style='text-align: center')=pageHeader.title
        br
        p(style='text-align: center')
          img(src='../Images/iconfinder_sunny512x512-01_1221018.png' height=180 width=160)
        br
        table
         tr
          td Name 
          td
           input(name="name" type='text' required)
         tr
          td Surname 
          td
           input(name= "Sname" type='text' required )
         tr
          td 
            label Email 
          td
           input(name= 'email' type='email' required )
         tr
          td Password 
          td
           input(type='password' required)
         tr
          td Confirm Password 
          td
           input(name= 'password'  type='password' required)
        .col.ml-2       
          p(style='text-align:center; margin-top:1em;')
            input(type='submit' value='Sign Up')
            br
            small(style='color:white;text-align:center;') Already signed up?
            a.btn.col-12(style='color:white; text-decoration:underline;')(href='/login') Login


              
