extends loginlayout

include _includes/sharedHTMLfunctions

block content
 .background
  h1 Login
  br
  table(style='height:100%;   margin-top:5.5em; padding:0;')
   tr(style='width=100%;height:15%; margin-bottom:12px;')
    td(style='width=100%;  background-color:white; ') Username
    tr
     td
   tr(style='width=100%; margin-top:15em;height:15%; margin-bottom:12px;')
    td(style='width=100%;  background-color:white; ') Username
   tr
    td
    tr
     td(style='width=100%;  background-color:white; ') Username
    tr
     td
      input(type='password')  
         

              
