extends loginlayout

include _includes/sharedHTMLfunctions

block content
  .row
    .col-3
      .background.float-left
        h1 Login
        a.btn.btn-primary.float-right(style="margin:6px 60% 15px 0px;")(href='/login') Add location
        br
        .row.float-left
          .col-12
          ul(style="float:left")
            li fddf
            li fds
    .col
      .card.card-primary.review-card.float-left.mr-6
        .card-block.float-left(style="float:left")
          h2.card-title Customer reviews
          .row.review(style="float:left")
            .col-12.no-gutters.review-header(style="float:left")
              span.rating(style="float:left")
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-o
                i.fa.fa-star-o
              small.reviewTimestamp 16 February 2017
            .col-12
              p What a great place. I can&apos;t say enough good things about it.  
      


                
    