extends layout

include _includes/sharedHTMLfunctions

block content
  .row.mr-3
    .col-0
      .background(style="height:100vh;")
        h1.mt-5=pageheader.title
        a.btn.mb-3.ml-5.btn-primary(href='/locations/new') Add location
        br
        .row.mb-5
          .col-12
          ul.MT-5(style=" width:100%;list-style:none; margin-right:15%;")
           each row in savedLocations            
            li.mb-5=row["location_name"]
              
    .col.mt-5 
      each day in days   
        .col
          .card.card-primary.review-card.float-left.mr-2
            .card-block
              h2.card-title=day.dayname
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.wi.wi-day-sunny
                    
                  label.small.reviewTimestamp 16 February 2017
                .col-12
                  p=day.weatherDesc  

      

                
  